body {
	background: #F9F9F9;
	color: #111;
	font: normal normal 62.5% arial,sans-serif;
}

h1 {
	color: #273233;
}

input, select {
	font-family: arial,sans-serif;
}

#head {
	background: #F1F1F1;
	border-bottom: 1px solid #E4E4E4;
	padding: 1.2em 0;
	text-shadow: 0 1px 0 #FFF;
}

#head:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#head h1 {
	font: normal normal 1.8em/1.5em georgia, serif;
	float: left;
}

#head ul {
	margin: 0 0 0 5em;
	float: left;
}

#head li {
	font-size: 12px;
	float: left;
	margin: 0 1.5em 0 0;
	line-height: 2em;
}

#head li a {
	color: #C0311A;
	text-decoration: none;
}

#head li a:hover {
	text-decoration: underline;
}

.search {
	margin: 0 0 0 5em;
	float: left;
}

.innerSearch input[type="text"] {
	color: #333;
	background: #FFF;
	border: 1px solid;
	border-color: #C0C0C0 #D9D9D9 #D9D9D9;
	padding: 4px;	
	width: 14em;
	margin-right: 0.2em;
}

.innerSearch select {
	width: 10em;
	border: 1px solid;
	border-color: #C0C0C0 #D9D9D9 #D9D9D9;
	padding: 3px;
	color: #333;
}

.button {
    background-color: #F5F5F5;
    border: 1px solid;
	border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    color: #555;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    min-width: 54px;
    padding: 4px 8px;
    text-align: center;
	margin: 0 0.2em;
}

.orange {
	border-color: #9E2815;
	background-color: #C0311A;
	color: #FFF;
}

.innerSearch span {
	display: inline-block;
	margin: 0 0.2em;
	font: italic bold 1.1em georgia, serif;
	color: #666;
}

.innerHead, .innerCont {
	margin: 0 10em;
}

.innerCont {
	padding-top: 4em;
	text-shadow: 1px 1px 0 #FFF;
	border-top: 1px solid #FFF;
}

#cont h1 {
	font: normal normal 2.8em georgia, serif;
	margin: 0 0 1em 0;
}

#cont h3 {
	font-size: 1.8em;
	font-family: georgia, serif;
	margin-bottom: 0.6em;
}

.col {
	width: 200px;
	float: left;
	margin: 0 2em 2em 0;
}

.col ul {
	font-size: 1.4em;
	margin-left: -0.55em;
}

.col a {
	color: #333;
	text-decoration: none;
	display: block;
	padding: 0.35em 0.5em;
	border-radius: 3px;
}

.col a:hover {
	color: #000;
	background: #FFF;
}